<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.loginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.registerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lookScoreServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.lookScoreServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>lookScoreServlet</servlet-name>
        <url-pattern>/lookScoreServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SelectAllTestServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.SelectAllTestServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SelectAllTestServlet</servlet-name>
        <url-pattern>/SelectAllTestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.ShowQuestionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <url-pattern>/ShowQuestionServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>allUserInformationServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.allUserInformationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>allUserInformationServlet</servlet-name>
        <url-pattern>/allUserInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdataStudent</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.UpdataStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdataStudent</servlet-name>
        <url-pattern>/UpdataStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.DeleteStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uPasswordServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.uPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uPasswordServlet</servlet-name>
        <url-pattern>/uPasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.AddStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectStudentServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.SelectStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectStudentServlet</servlet-name>
        <url-pattern>/SelectStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminScoreServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.AdminScoreServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminScoreServlet</servlet-name>
        <url-pattern>/AdminScoreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uNameAndSexServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.uNameAndSexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uNameAndSexServlet</servlet-name>
        <url-pattern>/uNameAndSexServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selectPaperServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.selectPaperServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selectPaperServlet</servlet-name>
        <url-pattern>/selectPaperServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.AnswerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uTeaNameSexServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.uTeaNameSexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uTeaNameSexServlet</servlet-name>
        <url-pattern>/uTeaNameSexServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>studentSelectPaperServlet</servlet-name>
        <servlet-class>cn.ynni.exam.controllar.studentSelectPaperServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentSelectPaperServlet</servlet-name>
        <url-pattern>/studentSelectPaperServlet</url-pattern>
    </servlet-mapping>


</web-app>